body {
    background: rgb(240, 247, 247);      
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;         
}

.navbar {
    position: absolute;
}

.navbar-nav {
    padding-right: 1.25em;
    font-size: 1.1rem;
}

#portadaInner {
    height: 100vh;
}

.carouselPortada img {
    width: 100%;
    height: 100%;
    max-height:100%;
    max-width: 100%; 
    object-fit: cover;
    margin: 0 auto;
    position: 50% 50%;
}

#portada {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

#portada h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 12px #000;
}

#portada h3 {
    font-size: 1.5rem;
    padding-bottom: 1em;
    text-shadow: 1px 1px 12px #000;
}

@media (min-width: 992px) {
#portada a {
    margin-right: 1.5rem;
    }
}

@media (max-width: 992px) {
    #portada h1 {
        font-size: 2.5rem;
    }
}

hr {
    color: #222;
    width: 15em;
    margin-top: 0;
}

.jumbotron {
    background-color: rgb(228, 235, 234);
}

.jumbotron .row {
    margin: 0;
    padding: 0;
}

#fotoycv {
    padding-top: 1%;
}

#fotoycv img {
    height: 13em;
    width: 11em;
    margin-bottom: 1em;
    border-radius: 8px;
}

#about p {
    padding-top: 3%;
    padding-left: 7%;
}

@media (max-width: 768px) {
    #about p {
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    #fotoycv img {
        height: 12em;
        width: 12em;
    }
}

@media (max-width: 992px) {
    #fotoycv {
        padding-top: 5%;
    }
}

@media (max-width: 768px) {
    #fotoycv a {
        position: absolute;
        margin-top: 5em;
        margin-left: 3em;
    }
}

#communicationHeader {
    padding-top: 2%;
}

.g-card {
    width: 18em;
    height: 19em;
    margin: 0.6em auto;
    perspective: 62500em;
    margin-top: 2em;
}

.g-card .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    transform-style: preserve-3d;
    transition: transform .8s;
    box-shadow: 1px 1px 7px #000;
    border-radius: 8px;
}

.g-card:hover .card-container {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2em;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-front {
    background: rgba(218,224,224,1);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(218,224,224,1) 100%);
}

.card-front h4 {
    font-size: 1.2em;
    padding-top: 1em;
}

.card-back {
    background: rgba(218,224,224,1);
    background: linear-gradient(90deg, rgba(218,224,224,1) 0%, rgba(255,255,255,1) 100%);
    transform: rotateY(180deg)
}

.card-back p {
    padding-top: 0.9em;
}


#communication, #fashion {
    padding-top: 1%;
    padding-bottom: 5%;
}

#communication img {
    width: 9em;
    height: 9em;
}

#fashion img {
    width: 9em;
    height: 9em;
} 

.logo img {
    border-radius: 10px;
}

.fashionCarousel {
    height: 22em;
    overflow: hidden;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.fashionCarousel img {
    width: 100%;
    height: 100%;
    max-height:100%;
    max-width: 100%; 
    object-fit: cover;
    margin: 0 auto;
    position: 50% 50%;
}

#containerOne .carousel-indicators {
    bottom: 10.8rem;
}

#containerTwo .carousel-indicators {
    bottom: 12.2rem;
}

@media (max-width: 768px) {
    #containerOne .carousel-indicators {
        bottom: 9.5em;
    }
}

@media (max-width: 768px) {
    #containerTwo .carousel-indicators {
        bottom: 7rem;
    }
}

@media (max-width: 768px) {
    #tristesses .carousel-indicators {
        bottom: 11.7rem;
    }
}

@media (min-width: 768px) and (max-width: 1207px) {
    .carousel-indicators {
        display: none;
    }
}

.carousel h5 {
    text-align: center;
}

.carousel p {
    text-align: justify;
}

#containerOne {
    padding-top: 1.25em;
}

#containerTwo {
    padding-top: 2.5em;
}

#contact {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
}

#contact h3 {
    text-align: center;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background: transparent;
    border-radius: 8px;
    width: 28em;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

#footerContainer {
    padding-bottom: 1.25em;
    padding-top: 1.875em;
}

@media (max-width: 992px) {
    footer {
        width: 18em;
    }
}

#about {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
    text-align: justify;
}

#communication p, #fashion p {
    text-align: justify;
}

#communicationHeader p, #fashionHeader p {
    text-align: justify;
}

.status {
    color: red;
    padding-bottom: 5px;
}

