body {
    background: rgb(240, 247, 247);               
}

.navbar {
    position: absolute;
}

.navbar-nav {
    padding-right: 1.25em;
    font-size: 1.1rem;
}

#portadaInner img {
    object-fit: cover; 
}

@media (max-width: 1170px) {
    #main {
        background: url(img/Hanger.jpg);
        background-size: cover;
        background-position: 75% 25%;
        height: 100vh;
    }
}

@media (max-width: 1170px) {
    #mainCarousel .carousel-tem {
        display: none;
    }
}

#portadaInner {
    height: 100vh;
}

#portada {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

#portada h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 12px #000;
}

#portada h3 {
    font-size: 1.5rem;
    padding-bottom: 1em;
    text-shadow: 1px 1px 12px #000;
}

@media (min-width: 992px) {
#portada a {
    margin-right: 1.5rem;
    }
}

@media (max-width: 992px) {
    #portada h1 {
        font-size: 2.5rem;
    }
}

hr {
    color: #222;
    width: 15em;
    margin-top: 0;
}

.jumbotron .row {
    margin: 0;
    padding: 0;
}

#fotoycv {
    padding-top: 1%;
}

#fotoycv img {
    height: 14em;
    width: 15em;
    margin-bottom: 1em;
    border-radius: 8px;
}

#about p {
    padding-top: 3%;
    padding-left: 7%;
}

@media (max-width: 768px) {
    #about p {
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    #fotoycv img {
        height: 12em;
        width: 12em;
    }
}

@media (max-width: 992px) {
    #fotoycv {
        padding-top: 5%;
    }
}

@media (max-width: 768px) {
    #fotoycv a {
        position: absolute;
        margin-top: 5em;
        margin-left: 3em;
    }
}

#communicationHeader {
    padding-top: 2%;
}

#communication, #fashion {
    padding-top: 1%;
    padding-bottom: 5%;
    justify-content: space-between;
}

#communication img {
    width: 9.4em;
    height: 9.4em;
}

#fashion img {
    width: 9.4em;
    height: 9.4em;
}

@media (min-width: 768px) {
    #communication, #fashion {
        padding-right: 3em;
        padding-left: 3em;
    }
}

.logo {
    padding-top: 4%;
}

.logo img {
    border-radius: 10px;
}

.fashionCarousel {
    height: 22em;
    overflow: hidden;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.fashionCarousel img {
    width: 100%;
    height: 100%;
    max-height:100%;
    max-width: 100%; 
    object-fit: cover;
    margin: 0 auto;
    position: 50% 50%;
}

#containerOne .carousel-indicators {
    bottom: 10.8rem;
}

#containerTwo .carousel-indicators {
    bottom: 12.2rem;
}

@media (max-width: 768px) {
    #containerOne .carousel-indicators {
        bottom: 9.5em;
    }
}

@media (max-width: 768px) {
    #containerTwo .carousel-indicators {
        bottom: 7rem;
    }
}

@media (max-width: 768px) {
    #tristesses .carousel-indicators {
        bottom: 11.7rem;
    }
}

@media (min-width: 768px) and (max-width: 1207px) {
    .carousel-indicators {
        display: none;
    }
}

.carousel h5 {
    text-align: center;
}

.carousel p {
    text-align: justify;
}

#containerOne {
    padding-top: 1.25em;
}

#containerTwo {
    padding-top: 2.5em;
}

#contact {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
}

#contact h3 {
    text-align: center;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background: transparent;
    border-radius: 8px;
    width: 28em;
}

footer a {
    color: inherit;
    text-decoration: underline;
}

#footerContainer {
    padding-bottom: 1.25em;
    padding-top: 1.875em;
}

@media (max-width: 992px) {
    footer {
        width: 18em;
    }
}

#about {
    padding-top: 1.875em;
    padding-right: 1.875em;
    padding-left: 1.875em;
    text-align: justify;
}

#communication p, #fashion p {
    text-align: justify;
}

#communicationHeader p, #fashionHeader p {
    text-align: justify;
}

.status {
    color: red;
    padding-bottom: 5px;
}

